.title{
    color: #424242;
}
.spacer{
    height: 20px;
}
.right-aligner{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.logout-icon{
    font-size: 2rem;
    cursor:pointer;
}
.user-name-div{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-size: large;
    margin-right: 20px;
}
.todo-checkbox{
    margin-right: 5px;
}